{%- from 'bdd_macros.j2' import domain_subject, description_tree, one_framework, scan_pair -%}
{{ one_framework(node) }}
{{ scan_pair(node) -}}
{{ domain_subject(node) -}}
{{ description_tree(node) -}}
